html, body {
    background-color: #E5E9EC;
    height: 100%;
}
a {
    color: #FFFFFF;
    outline: hidden;
}
a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}
button:active, button:focus, button:visited, input:focus, textarea{
    text-decoration: none;
    outline: none;
}
/*重写bootstrap----------------------------------------*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.label {
    display: inline-block;
    margin: 5px 3px;
    cursor: pointer;
}
.panel {
    border-radius: 0px;
}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-default {
    border: 0px solid #ddd;
}
.panel-body {
    min-height: 170px;
}
.panel-body.md {
    min-height: 120px;
}
.panel-body.sm {
    min-height: 0px;
    padding: 10px 5px;
}
.panel-body.vs {
    min-height: 0px;
    padding: 0px 0px;
}
.panel-body.xs {
    min-height: 0px;
    padding: 5px 5px;
}
.list-group-item {
    cursor: pointer;
    padding: 0px 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.thumbnail.line {
    border-radius: 0px;
}
.thumbnail.line:hover, .thumbnail.line:focus, .thumbnail.line.active {
    border-color: darkgray;
}
.label {
    width: 70px;
    height: 25px;
    border-radius: 0px;
    line-height: 20px;
    font-size: 13px;
}
.form-control {
    height: 28px;
    border-radius: 25px;
    font-size: 12px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ccc;
    border-right: 0px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -2px;
}

/*完全自定义----------------------------------------*/
.jump-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 55px;
    height: 55px;
    z-index: 5000;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    background-color: #EDEDED;
    cursor: pointer;

    filter:alpha(opacity=0);
    -webkit-opacity:0;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}

@media screen and (max-width: 768px) {
    .jump-top {
        position: fixed;
        bottom: 15px;
        right: 10px;
        width: 45px;
        height: 35px;
        z-index: 5000;
        font-size: 20px;
        text-align: center;
        padding: 5px 0px;
        background-color: #A3A8BA;

        filter:alpha(opacity=0);
        -webkit-opacity:0;
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;

        transition: all 500ms ease 0s;
        -webkit-transition: all 500ms ease 0s;
        -moz-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
    }
}
.jump-top.show{
    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.blur {
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
    background: inherit;
    min-height: 75px;
    padding: 0px 15px;
    margin-top: 100px;
    background-size:cover;
    background-position: 100% 100%;
}
/*一般公用----------------------------------------*/
.float-left {
float: left
}

.float-right {
float: right
}
.no-bg-color {
    background-color:rgba(255, 255, 255, 0)
}

.no-padding-left-right {
padding-left: 0px;
padding-right: 0px
}

.no-padding-right {
padding-right: 0px
}

.no-padding-left {
padding-left: 0px;
}

.no-padding-top-bottom {
padding-top: 0px;
padding-bottom: 0px
}

.no-border {
border: 0px solid #fff;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.padding-side-5 {
padding: 0px 5px;
}

.padding-side-10 {
padding: 0px 10px;
}

.padding-side-15 {
padding: 0px 10px;
}

.padding-top-15 {
padding-top: 15px;
}

.margin-top-15 {
margin-top: 15px
}

.padding-top-10 {
padding-top: 10px;
}

.margin-top-10 {
margin-top: 10px
}

.border-all {
border: 1px solid #CCC;
}

.border-side {
border-right: 1px solid #CCC;
border-left: 1px solid #CCC;
}

.border-top {
border-top: 1px solid #CCC;
}

.border-bottom {
border-bottom: 1px solid #CCC;
}

.border-radius-top {
border-radius: 5px 5px 0px 0px
}
.border-radius-side {
    border-radius: 0px 25px 25px 0px
}
.border-radius-bottom {
border-radius: 0px 0px 5px 5px
}
.table {
display: table;
}
.table > li {
display: table-row;
}
.table > li > div {
display: table-cell;
}
.transparency {
    filter:alpha(opacity=0);
    -webkit-opacity:0;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.opacity {
    filter:alpha(opacity=1);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
/*---------------------------------------------滚动条样式 */
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 2px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    background-color: #afafaf;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}

/*滚动条*/

/*: side  start ----------------------------------------*/
.side-content {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter:blur(0px);
    z-index: 2000;

    transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.side-blur-1 {
    filter: blur(1px);
}
.side-blur-2 {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter:blur(2px);
}
.side-blur-3 {
    filter: blur(3px);
}
.side-blur-4 {
    filter: blur(4px);
}
.side-blur-5 {
    filter: blur(5px);
}

.side-top {
    background-color:rgb(57, 126, 255);
    height: 48px;
    width: 97%;
    position: fixed;
    right: 0px;
    padding: 0px 96px 0px 48px;
}
.side-top > div {
    padding: 12px 12px;
    text-align: center;
    font-size: 24px;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,
    "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #FFF;
    height: 48px;
    vertical-align: middle;
    display: table-cell;
    line-height: 24px;
}
.side-bottom {
    background-color:#FFF;
    height: 36px;
    width: 97%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 0px 96px 0px 48px;
}
.side-bottom > div {
    padding: 12px 12px;
    text-align: center;
    font-size: 24px;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,
    "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    color: #FFF;
    height: 48px;
    vertical-align: middle;
    display: table-cell;
    line-height: 24px;
}

/*.side-top > div:nth-child(2) {
    padding: 8px 0px;
}*/
.side-top.float-right {
    padding: 8px 24px 8px 0px;
}
.side-left {
    background-color:rgb(81, 88, 101);
    color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;

    transform: translateX(-97%);
    -webkit-transform: translateX(-97%);
    -moz-transform: translateX(-97%);
    -o-transform: translateX(-97%);
}
.side-left.shadow {
    box-shadow: 5px 0px 30px #42424b;
}
.side-left > div:nth-child(1) {
    float: right;
    margin-right: -48px;
    height: 48px;
    min-width: 48px;
    color: #FFF;
    font-size: 24px;
    padding: 12px 0px;
    background-color: #397eff;
}
.side-left > div:nth-child(2) {
    float: right;
    text-align: left;

    transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}

.side-right {
    background-color:rgb(81, 88, 101);
    color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.side-right.shadow {
    box-shadow: -5px 0px 30px #42424b;
}
.side-right > div:nth-child(1) {
    float: left;
    margin-left: -144px;
    height: 48px;
    min-width: 144px;
    color: #FFF;
    font-size: 24px;
    padding: 12px 12px 12px 6px;
    background-color: #397eff;
}
.side-right > div:nth-child(2) {
    float: left;
    text-align: left;

    transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}

center-content {
    height: 100%;
    width: 97%;
    float: right;
    margin: 0px;
    padding: 0px;
    padding: 50px 5px 10px;
    overflow-y: auto;
    display: block;

    transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}

@media screen and (max-width: 460px) {
    .show-left {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -o-transform: translateX(-30%);
    }
    .side-left > div:nth-child(2) {
        width: 70%;
    }
    .show-right {
        transform: translateX(40%);
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -o-transform: translateX(40%);
    }
     .side-right > div:nth-child(2){
        width: 60%;
    }
    .side-top.full, .side-bottom.full, center-content.full {
        width: 100%;
    }
}
@media screen and (min-width: 460px) and (max-width: 768px)  {
    .show-left {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -o-transform: translateX(-30%);
    }
    .show-right {
        transform: translateX(30%);
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(30%);
        -o-transform: translateX(30%);
    }
    .side-left > div:nth-child(2),  .side-right > div:nth-child(2){
        width: 70%;
    }
    .side-top.full, .side-bottom.full, center-content.full {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1080px)  {
    .show-left {
        transform: translateX(-55%);
        -webkit-transform: translateX(-55%);
        -moz-transform: translateX(-55%);
        -o-transform: translateX(-55%);
    }
    .side-left > div:nth-child(2) {
        width: 45%;
    }
    .show-right {
        transform: translateX(65%);
        -webkit-transform: translateX(65%);
        -moz-transform: translateX(65%);
        -o-transform: translateX(65%);
    }
    .side-right > div:nth-child(2){
        width: 35%;
    }
    .side-top.full, .side-bottom.full, center-content.full {
        width: 100%;
    }
}
@media screen and (min-width: 1080px) {
    .show-left {
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
        -moz-transform: translateX(-85%);
        -o-transform: translateX(-85%);
    }
    .side-left > div:nth-child(2) {
        width: 15%;
    }
    .show-right {
        transform: translateX(85%);
        -webkit-transform: translateX(85%);
        -moz-transform: translateX(85%);
        -o-transform: translateX(85%);
    }
     .side-right > div:nth-child(2){
        width: 15%;
    }
    .side-top.full, .side-bottom.full, center-content.full {
        width: 85%;
    }
}

/*demo: side  end ----------------------------------------*/
/*: menu      start ----------------------------------------*/
.menu-item {
    padding: 13px 45px 13px 15px;
    display: block;
    width: 100%;
    font-size: 14px;
    height: 45px;
    line-height: 19px;
}
.menu-item:hover{
    background-color: #7DA7FF;
}
.menu-item > span{
    display: inline-block;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    float: right;
    margin: 0px;

    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.menu-item:hover > .glyphicon-menu-right{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}
.sub-menu {
    background-color: #293344;
    display: block;
    overflow: hidden;
    height: 0px;
    margin-bottom: 0px;

    filter:alpha(opacity=0);
    -webkit-opacity:0;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;

    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
}
.sub-menu.show {
    height: auto;
    background-color: #293344;

    filter:alpha(opacity=1);
    -webkit-opacity:1;
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.sub-menu-item {
    padding: 10px 22px;
    display: block;
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
}
.sub-menu-item:hover{
    background-color: #7DA7FF;
}
/*: menu      end ----------------------------------------*/
/*: user      end ----------------------------------------*/
.user-item {
    background-color: #293344;
    width: 34px;
    height: 34px;
    padding: 8px 2px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.user-item > span {
    font-size: 20px;line-height: 20px
}

/*: user      end ----------------------------------------*/
