<div class="row" style="height: 180px">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="font-size: 20px;padding: 10px 0px;">
        <div style="height: 130px;width: 130px;background-color: #c0c3c8;border-radius: 50%;display: block;margin-right: auto;margin-left: auto;padding: 5px">
            <img src="images/user_placeholder.png" class=" img-circle center-block" alt="" width="120px">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="height: 45px;line-height: 20px">
        sadsasas
    </div>
</div>
<div class="row" style="height: 65px">
    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <div class="user-item">
            <span class="fa fa-info" style=""></span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <div class="user-item">
            <span class="fa fa-bar-chart"></span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <div class="user-item">
            <span class="fa fa-gear" style="font-size: 20px"></span>
        </div>
    </div>
</div>
<div class="row" class="row" style="height: 30px">
    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
        <div class="user-item">
            <span class="fa fa-sign-out" style=""></span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
        <div class="user-item">
            <span class="fa fa-power-off" style=""></span>
        </div>
    </div>
</div>

<div class="row" class="row" style="height: {{areaHeight}}px;margin-top: 30px;margin-bottom: 30px">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center"style="height: 100%">
        <div class="panel panel-default" style="height: 100%">
            <div class="panel-heading " style="height: 100%">

            </div>
        </div>
    </div>
</div>

<div class="row" class="row" style="height: {{areaHeight}}px;margin-top: 30px;margin-bottom: 30px">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center"style="height: 100%">
        <div class="panel panel-default" style="height: 100%">
        </div>
    </div>
</div>